<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitol.aust.cse.austclassmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALERM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/project_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/project_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- fcm -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ClassRoutineActivity"
            android:label="Class Routine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu_Activity"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile_Activity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizReminder_Activity"
            android:label="Quiz Reminder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CgpaCalculator_Activity"
            android:label="CGPA Calculator"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Signup_Activity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Settings_Activity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultInformationActivity"
            android:label="Results and Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetQuiz_Activity"
            android:label="Set Quiz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassDetails_Activity"
            android:label="Class Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackupMark_Activity"
            android:label="Backup Marks Calculator"
            android:screenOrientation="portrait" />

        <receiver android:name=".NotificationReceiver" />

        <activity android:name=".Credit_activity"
            android:label="Credit"/>


    </application>

</manifest>