<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitol.aust.cse.austclassmanager">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/project_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/project_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassRoutineActivity"
            android:label="Class Routine" />
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".QuizReminder"
            android:label="Quiz Reminder" />
        <activity
            android:name=".CgpaCalculator"
            android:label="CGPA Calculator" />
        <activity android:name=".Signup" />
        <activity
            android:name=".Settings"
            android:label="Settings" />
        <activity
            android:name=".ResultCheckActivity"
            android:label="Results and Information" />
    </application>

</manifest>